:root{
    --bg-blue: #93B5C9;
    --bg-wine: #AB2849;
}

body{
    margin: 0;
}

section{
    display: flex;
    justify-content: center;
}

.espaciado-largo{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
}

.espaciado-cuadros{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
}

.caja-azul{
    width: 100%;
    height: 200px;
    background-color: var(--bg-blue);
}

.caja-vino{
    width: 100%;
    height: 300px;
    background-color: var(--bg-wine);
}

.cuadro-largo{
    width: 100%;
    height: 200px;
    background-color: var(--bg-wine);
    margin: 10px;
}

.cuadros{
    width: 100%;
    height: 200px;
    background-color: var(--bg-wine);
    margin: 10px;
}

.ultimo-cuadro{
    width: 100%;
    height: 150px;
    background-color: var(--bg-wine);
    margin-bottom: 15px;
}

